.model-container{
    height: 100px;
    width: 100px;
    color: blueviolet;
    position: absolute;
    cursor: move;

    /* background-color: brown; */
}

.model-container_2 {
    height: 100px;
    width: 100px;
    color: blueviolet;
    position: absolute;
    cursor: move;
    right: 90;
    background-color: rgb(0, 97, 104);
}