.tasks-container {
  color: rgb(0, 0, 0);
  position: absolute;
  cursor: move;
}

.tasks-container-border {
  color: rgb(10, 10, 10);
  position: absolute;
  cursor: pointer;
  border: cornflowerblue solid 2px;
  width: min-content;
}

.tasks-container-border-bg {
  color: rgb(10, 10, 10);
  position: absolute;
  cursor: move;
  border: cornflowerblue solid 2px;
  width: min-content;
  background-color: rgb(20, 157, 220);
}
